Package: com.exormeter.alarmfade
Name: AlarmFade
Depends: mobilesubstrate, preferenceloader, ws.hbang.common
Architecture: iphoneos-arm
Description: Fades in the alarm
Maintainer: Nils Kirchhof
Author: Nils Kirchhof
Section: Tweaks
Version: 1.0.0-70+debug
Installed-Size: 516
