Package: com.exormeter.alarmfade
Name: AlarmFade
Depends: mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Description: Fades in the alarm
Maintainer: Nils Kirchhof
Author: Nils Kirchhof
Section: Tweaks
Version: 1.0.0-13+debug
Installed-Size: 292
